/*Styles généraux
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'caviar_dreamsregular';
    position: relative;
}

.Portfolio {
    margin: 0 auto;
    color: #fff;
}

.row {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #FF8CA8;
}

a:visited {
    color: #fff;
}

.container-fluid {
    padding: 0;
    margin: 0;
}


/*FONT FACE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'), url('fonts/alexbrush-regular-webfont.woff') format('woff'), url('fonts/alexbrush-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('fonts/caviardreams-webfont.eot');
    src: url('fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/caviardreams-webfont.woff2') format('woff2'), url('fonts/caviardreams-webfont.woff') format('woff'), url('fonts/caviardreams-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






/*CONTACT-NAV
---------------------------------------------------*/

#contact-nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff 0 -1145px;
    opacity: 0.8;
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    border: none;
    padding-top: 15%;
}

#contact-nav ul {
    display: block;
    height: 100%;
    top: 0;
}

#contact-nav ul li {
    display: block;
    text-align: center;
    padding-top: 70%;
    vertical-align: middle;
}

#contact-nav ul li.Home-nav {
    padding-bottom: 80%;
}

#contact-nav ul li a {
    text-decoration: none;
    color: #c2c2c2;
}

#contact-nav ul li a:hover {
    text-decoration: none;
    color: #DE584D;
}

#contact-nav ul li.Home-nav a:hover {
    text-decoration: none;
    color: #282224;
}


/*NUMBER-NAV
---------------------------------------------------*/

.navigation {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 1%;
    bottom: 0;
    background: transparent 0 -1145px;
    width: 20px;
    height: 100%;
    margin-top: 80vh;
    transform: translateY(-50%);
    list-style-type: none;
}

.navigation li a {
    border-bottom: 1px solid #282224;
    color: #282224;
    font-weight: bold;
    display: block;
    opacity: 1;
    outline: medium none;
    padding-bottom: 25%;
    text-align: center;
    text-decoration: none;
    width: 100%;
    float: right;
    transition: width 0.3s ease-out, opacity 0.3s linear;
    margin: 10px 0;
}

.navigation li.home-nav a {
    border-bottom: none;
    padding-bottom: 0;
    margin-right: 15%;
    color: #282224;
}

.navigation li a:hover,
.navigation li a.active {
    text-decoration: none;
    background-color: none;
    border-color: #DE584D;
    width: 150%;
    transition: width 0.3s ease-out, opacity 0.3s linear;
}

.navigation li.home-nav span.fa.fa-home {
    float: left;
    margin-top: -8%;
}

.navigation li.home-nav span.fa.fa-home:hover {
    color: #DE584D;
}


/*MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#main-nav {
    position: fixed;
    z-index: 1000;
    top: 1%;
    right: 3%;
    display: inline;
    background: transparent 0 -1145px;
    width: 885px;
}

#main-nav ul {
    overflow: hidden;
}

#main-nav ul li {
    float: left;
    padding: 1% 3% 1% 3%;
}

#main-nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

#main-nav ul li a:visited {
    text-decoration: none;
}

#main-nav ul li.caviar.top-menu:hover,
#main-nav ul li.caviar.top-menu:active,
#main-nav ul li.caviar.top-menu:focus {
    border-bottom: 1px solid #DE584D;
}

.caviar {
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}


/*MENU SMARTPHONE 
--------------------------------------------------*/

.MenuSmartphone {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    right: 20px;
}

#SmartNav .overlay-content a {
    font-size: 1.7em;
    font-weight: 800;
}

#SmartNav .overlay-content a:hover,
#SmartNav .overlay-content a:active,
#SmartNav .overlay-content a:focus {
    color: #DE584D;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
    height: 850px;
    text-align: center;
    color: #fff;
    background: url('img/sunset.jpg') no-repeat center fixed;
    background-size: cover;
}

.intro-header {
    margin-top: 300px;
    padding-bottom: 2%;
}

.myName {
    font-family: 'alex_brushregular';
    padding: 2% 0;
    color: #DE584D;
}

.TypoTitle {
    font-family: 'caviar_dreamsregular';
}

.contact {
    margin-top: 5%;
    font-size: 1.5em;
    bottom: 0;
}

.contact:hover,
.contact:active,
.contact:focus {
    text-decoration: none;
}


/*STYLE ANIMATED-HEADLINES
---------------------------------------------*/

.cd-intro {
    text-align: center;
}

@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 3rem;
    }
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}


/* -------------------------------- 

xrotate-1 

-------------------------------- */

.cd-headline.rotate-1 b {
    font-size: 1.5em;
}

.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.rotate-1 b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cd-headline.rotate-1 b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: cd-rotate-1-in 2s;
    -moz-animation: cd-rotate-1-in 2s;
    animation: cd-rotate-1-in 2s;
}

.cd-headline.rotate-1 b.is-hidden {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    -moz-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1;
    }
}

@-moz-keyframes cd-rotate-1-in {
    0% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -moz-transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -moz-transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        -moz-transform: rotateX(120deg);
        -ms-transform: rotateX(120deg);
        -o-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cd-rotate-1-out {
    0% {
        -moz-transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -moz-transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }
}

@keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        -moz-transform: rotateX(-40deg);
        -ms-transform: rotateX(-40deg);
        -o-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}


/* -------------------------------- 

xpush 

-------------------------------- */

.cd-headline.push b {
    opacity: 0;
    font-size: 1em;
}

.cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in 2s;
    -moz-animation: push-in 2s;
    animation: push-in 2s;
}

.cd-headline.push b.is-hidden {
    -webkit-animation: push-out 0.6s;
    -moz-animation: push-out 0.6s;
    animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}

@keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}


/*PORTFOLIO ABOUT 
---------------------------------------------------*/

#Portfolio-About {
    display: block;
    height: 100%;
}

.SpaceLeftAbout {
    height: 270px;
    text-align: center;
    background-color: #282224;
    padding: 3% 5% 3% 7%;
}

.SpaceLeftAbout h2 {
    padding-top: 4%;
    font-size: 2em;
    color: #DE584D;
}

.SpaceLeftAbout p {
    font-size: 1.5em;
    padding-top: 3%;
    line-height: 140%;
}

.SpaceLight {
    background-color: #EEE8D2;
    height: 270px;
}

.SpaceDark {
    background-color: #282224;
    height: 270px;
}

.Space span {
    color: #fff;
}


/*titre A propos*/

.SpaceRight h3.AboutTitle {
    margin-top: 38%;
    font-size: 3.5em;
    color: #DE584D;
    text-align: left;
    margin-left: 5%;
}

.AboutLeft {
    height: 540px;
    background: url('img/sophie.marchand.bulles.jpg') no-repeat left fixed;
    background-size: contain;
}

.AboutRight {
    background-color: #DE584D;
    height: 540px;
    padding: 5% 10% 5% 8%;
}

.AboutText {
    font-family: 'caviar_dreamsregular';
    font-size: 1.1em;
    margin: 1% 8% 5% 2%;
    text-align: justify;
    color: #fff;
    line-height: 180%;
}

.script {
    font-family: 'alex_brushregular';
    font-size: 2em;
    padding: 1%;
}

.devJunior {
    font-weight: bold;
    line-height: 300%;
    font-size: 1.2em;
}


/*SKILLS - COMPETENCES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#Portfolio-Skills {
    display: block;
}

.SpaceLeftSkills {
    height: 270px;
    text-align: center;
    background-color: #282224;
    padding: 5% 5% 3% 7%;
}

.SpaceLeftSkills h2 {
    padding-top: 4%;
    font-size: 1.5em;
    color: #DE584D;
}

.SpaceLeftSkills p {
    font-size: 1.2em;
    padding-top: 3%;
    line-height: 130%;
    color: #fff;
}

.SpaceRight h3.SkillsTitle {
    padding-top: 38%;
    font-size: 3.5em;
    color: #DE584D;
    text-align: left;
    margin-left: 5%;
}

.OtherSkills {
    height: 540px;
    background-color: #EEE8D2;
    z-index: 2;
}

.Skills {
    background: url('img/carnet.jpg') no-repeat center fixed;
    background-size: cover;
    display: block;
    left: 0;
    right: 0;
    height: 540px;
    position: absolute;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 1;
    padding: 0;
    opacity: 0.8;
}

.OtherBlock {
    height: 480px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 3;
    top: 4%;
    left: 0;
    margin-left: 15%;
}

.OtherBlock h4 {
    padding-top: 15%;
    padding-bottom: 5%;
    font-size: 1.3em;
    color: #282224;
    text-align: center;
    font-weight: bold;
}

.OtherBlock h5 {
    line-height: 130%;
    font-size: 1.2em;
    color: #282224;
}

span.bold {
    font-weight: bold;
    color: #DE584D;
}

.SkillBlock {
    height: 480px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
    top: 4%;
    left: 0;
    right: 0;
    z-index: 2;
    width: 88%;
    margin-left: 6%;
    padding-left: 10%;
}

.SkillBlock h5 {
    line-height: 150%;
    font-size: 1.2em;
    color: #282224;
}

.DevSkills {
    height: 540px;
}

.DevSkills ul li {
    float: left;
    margin: 0 5.5%;
    line-height: 50%;
}

.OtherDevSkills {
    margin-top: 3%;
}

.level {
    margin: 8% 0 -2% 0;
    text-align: center;
    color: #282224;
}


/*style des barres de progression skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.skillbar {
    position: relative;
    display: block;
    margin: 20px auto 15px auto;
    width: 80%;
    background-color: #F0F0F0;
    height: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    font-family: 'caviar_dreamsregular';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    color: #282224;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    font-weight: 800;
    display: block;
    padding: 1px 10px;
    margin-left: -260px;
    text-align: right;
    height: 15px;
    line-height: 15px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 15px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.barOne {
    background: #DE584D;
}

.barTwo {
    background: #282224;
}


/*EXPERIENCE 
--------------------------------------------------*/

.SpaceLeftXP {
    height: 270px;
    text-align: center;
    background-color: #282224;
    padding: 3% 5% 3% 7%;
}

.Space span.iconeCV {
    color: #fff;
    font-size: 2em;
    margin-top: 5%;
}

.SpaceRight h3.XPTitle {
    font-size: 3.5em;
    color: #DE584D;
    text-align: center;
    margin-right: 18%;
    padding-top: 38%;
}


/*BOUTON LIEN CV*/

h4.cv {
    padding-top: 2%;
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 1%;
}

.BoutonCV {
    background-color: #DE584D;
    color: #fff;
    font-weight: 800;
    margin: 2% 0 5% 0;
    width: 200px;
}

.BoutonCV:hover {
    color: #282224;
    background-color: #EEE8D2;
}

.BoutonCV a {
    text-decoration: none;
}

.BoutonCV a:hover {
    text-decoration: none;
    color: #fff;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: url('img/bretagne01.jpg') no-repeat center fixed;
    background-size: cover;
    padding-bottom: 3%;
    margin-bottom: 0 !important;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 5px;
    margin: 0 auto;
    padding-top: 10px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -8px;
    border-width: 8px 8px 8px 0;
    border-color: transparent #FFF transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -8px;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #fff;
}

.headlines-timeline {
    display: block;
    font-size: 1.1rem;
    line-height: 120%;
    font-weight: bold;
    margin-bottom: 8px;
    color: #24221F;
}

.time {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #24221F;
    font-family: 'alex_brushregular';
}

.content {
    box-shadow: 0 3px 0 #d7e4ed;
}

.timeline ul li {
    color: #24221F;
    background-color: #fff;
}

.timeline ul li p {
    line-height: 120%;
    font-size: 1em;
}

p a.simplon,
p .simplon {
    color: #DE584D;
    font-weight: bold;
}

.introContent {
    font-weight: bold;
}


/* TIMELINE EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.content1.in-view::after,
.content2.in-view::after {
    background: #fff;
    border: 4px solid #DE584D;
}

.content3.in-view::after {
    background: #DE584D;
    border: 2px solid #fff;
}

.content4.in-view::after,
.content5.in-view::after {
    background: #fff;
    border: 2px solid #DE584D;
}


/*PROJECT - PORTFOLIO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#Portfolio-Project {
    padding: 0;
}

#Portfolio-Project h3 {
    text-align: left;
    margin-left: 5%;
    font-size: 3.5em;
    color: #DE584D;
    padding-top: 38%;
}

.ProjectPart {
    background-color: #DE584D;
    height: 540px;
}

.SpaceLeftProject {
    height: 270px;
    text-align: center;
    background-color: #282224;
    padding: 5% 3% 3% 5%;
}

.SpaceLeftProject h2 {
    font-size: 1.5em;
    color: #DE584D;
    padding-top: 4%;
}

.SpaceLeftProject p {
    font-size: 0.9em;
    padding-top: 3%;
    line-height: 120%;
    color: #fff;
}

.ProjectPart {
    padding: 5% 5%;
}

.ProjectContent {
    padding: 3%;
}

.ProjectPortfolio {
    text-align: center;
}

.ProjectPortfolio img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.ProjectPortfolio h4 {
    padding-top: 5%;
    font-size: 1.2em;
}

.ProjectPortfolio p {
    font-size: 1em;
    line-height: 150%;
}

.ProjectPortfolio img:hover {
    cursor: pointer;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}

.modal-content {
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #282224;
}

.modal-title {
    font-size: 1.5em;
    padding: 5% 0 2% 2%;
    color: #DE584D;
}

.modal-header h5 {
    font-size: 1.3em;
    padding-left: 2%;
    line-height: 150%;
}

.modal-header {
    border-bottom: none;
}

.modal-body h5 {
    font-size: 1.5em;
    color: #DE584D;
    padding: 5%;
}

.modal-body p {
    line-height: 180%;
    font-size: 1.1em;
}

h5 a.ProjectLink {
    font-size: 1.2em;
    color: #DE584D;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal-img {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content-img,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close-img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content-img {
        width: 100%;
    }
}


/*CONTACT
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.SpaceLeftContact {
    height: 270px;
    text-align: center;
    background-color: #282224;
    padding: 5% 5% 3% 7%;
}

.SpaceLeftContact h2 {
    padding-top: 4%;
    font-size: 1.5em;
    color: #DE584D;
}

.SpaceLeftContact p {
    font-size: 1.2em;
    padding-top: 3%;
    line-height: 130%;
    color: #fff;
}

#Portfolio-Contact h3 {
    text-align: left;
    margin-left: 5%;
    font-size: 3.5em;
    color: #DE584D;
    padding-top: 38%;
}

.FormContact {
    background: url('img/sunset.jpg') no-repeat center fixed;
    background-size: cover;
    height: 540px;
}

#contactForm {
    height: 440px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
    width: 88%;
    margin-top: 6%;
    margin-left: 14%;
    padding-left: 12%;
    padding-top: 8%;
}

.OtherContact {
    background: url('img/sunset.jpg') no-repeat center fixed;
    background-size: cover;
    height: 540px;
}

form {
    margin-left: 0;
    padding-left: 0;
}


/*label du formulaire*/

label {
    color: #282224;
    padding-bottom: 1%;
    font-size: 1.2em;
}

.SendButton {
    text-align: right;
}

.btn-success {
    color: #fff;
    background-color: #DE584D;
    border: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #282224;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*MEDIA QUERIES  >1500px 
----------------------------------------------*/

@media screen and (min-width: 1500px) {
    #main-nav {
        width: 1000px;
    }
    #Portfolio-Skills h3,
    #Portfolio-Experiences h3,
    #Portfolio-Project h3,
    #Portfolio-Contact h3 {
        padding-top: 25%;
        font-size: 2.8em;
    }
    #Portfolio-About h3 {
        font-size: 2.8em;
        margin-left: 25%;
    }
}


/*MEDIA QUERIES 980 > 1170px 
----------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1280px) {
    #main-nav {
        width: 800px;
    }
    .SpaceRight h3.AboutTitle,
    .SpaceRight h3.SkillsTitle {
        text-align: left;
        margin-left: 15%;
    }
    #Portfolio-Project h3,
    #Portfolio-About h3,
    #Portfolio-Skills h3,
    #Portfolio-Experiences h3,
    #Portfolio-Contact h3 {
        font-size: 2.8em;
        padding-top: 30%;
        margin-top: 0;
    }
}


/*MEDIA QUERIES 980 > 1170px 
----------------------------------------------*/

@media (min-width: 980px) and (max-width: 1170px) {
    .intro-header {
        margin-top: 250px;
    }
    #main-nav {
        right: 0%;
        width: 830px;
    }

      .navigation {
    	margin-top: 80vh;
    }
    .cd-headline {
        font-size: 2.5rem;
    }
    .myName {
        color: #DE584D;
    }
    .TypoTitle {
        font-size: 2.8em;
    }
    .SpaceRight h3.AboutTitle,
    .SpaceRight h3.SkillsTitle {
        text-align: center;
        margin-left: 0;
    }
    #Portfolio-Contact h3,
    #Portfolio-Project h3,
    #Portfolio-About h3,
    #Portfolio-Skills h3,
    #Portfolio-Experiences h3 {
        font-size: 2.8em;
        padding-top: 30%;
        margin-top: 0;
    }
    .Skills ul li {
        font-size: 1em;
        margin: 0 5.5%;
    }
    .Skills {
        height: 540px;
    }
    .OtherBlock {
        margin-left: 15%;
        height: 500px;
    }
    .OtherBlock h4 {
        padding-top: 15%;
        padding-bottom: 3%;
    }
    .OtherBlock h5 {
        text-align: center;
        line-height: 120%;
    }
    .SkillBlock {
        height: 500px;
        width: 95%;
        margin-left: 0;
    }
    .SkillBlock h5 {
        line-height: 120%;
        font-size: 1.2em;
    }
}


/*MEDIA QUERIES HEADER 780 > 980px 
----------------------------------------------*/

@media (min-width: 768px) and (max-width: 980px) {

	header {
		height: 700px;
	}

	#contact-nav {
		width: 50px;
	}

	.navigation {
		margin-top: 65vh;
	}

    .intro-header {
        margin-top: 200px;
    }
    .cd-headline {
        font-size: 2.5rem;
    }
    .myName {
        color: #DE584D;
    }
    .TypoTitle {
        font-size: 1.7em;
        font-weight: bold;
    }
    .SpaceLight {
        height: 100px;
    }
    .SpaceRight h3.AboutTitle,
    .SpaceRight h3.SkillsTitle {
        text-align: center;
        margin-left: 0;
    }
    #Portfolio-Contact h3,
    #Portfolio-Project h3,
    #Portfolio-About h3,
    #Portfolio-Skills h3 {
        font-size: 2.8em;
        padding-top: 4%;
        margin-top: 0;
    }
    .Skills ul li {
        font-size: 1em;
        margin: 0 5.5%;
    }
    .Skills {
        height: 1080px;
    }
    .OtherBlock {
        margin-left: 0;
        height: 450px;
    }
    .OtherBlock h4 {
        padding-top: 8%;
        padding-bottom: 3%;
    }
    .OtherBlock h5 {
        text-align: center;
        line-height: 100%;
    }
    .SkillBlock {
        height: 500px;
        width: 100%;
        margin-left: 0;
    }
    .SkillBlock h5 {
        line-height: 120%;
        font-size: 1.2em;
    }

    .ProjectPart {
        height: 400px;
    }

    #contactForm {
    	margin-top: 0%;
    	margin-left: 5%;
    	padding-left: 5%;
    	padding-top: 5%;
}

    .SendButton {
        margin-top: -5%;
    }
}


/*MEDIA QUERIES TIMELINE < 900px 
----------------------------------------------*/

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
    .timeline ul {
        background: #EEE8D2;
    }
}


/*MEDIA QUERIES SCREEN >640px et <768px 
----------------------------------------------*/

@media (min-width: 640px) and (max-width: 767px) {
    
    header {
        height: 700px;
    }

    .cd-headline {
        font-size: 2.5rem;
    }
    .myName {
        color: #fff;
    }
    .SpaceLight {
        height: 120px;
    }
    .SpaceRight h3.AboutTitle {
        margin-top: 0%;
        padding-top: 5%;
        font-size: 3em;
        text-align: center;
    }
    #Portfolio-About h3 {
        margin-bottom: 0;
    }
    .AboutRight {
        height: 600px;
    }
    .AboutText {
        font-size: 1.3em;
        line-height: 140%;
    }
    .SpaceLight {
        height: 100px;
    }
    .SpaceRight h3.AboutTitle,
    .SpaceRight h3.SkillsTitle {
        text-align: center;
        margin-left: 0;
    }
    #Portfolio-Contact h3,
    #Portfolio-Project h3,
    #Portfolio-About h3,
    #Portfolio-Skills h3 {
        font-size: 2.8em;
        padding-top: 5%;
        margin-top: 0;
    }
    .Skills ul li {
        font-size: 1em;
        margin: 0 5.5%;
    }
    .Skills {
        height: 1080px;
    }
    .OtherBlock {
        margin-left: 0;
        height: 450px;
    }
    .OtherBlock h4 {
        padding-top: 8%;
        padding-bottom: 3%;
    }
    .OtherBlock h5 {
        text-align: center;
    }
    .SkillBlock {
        height: 500px;
        width: 100%;
        margin-left: 0;
    }
    .SkillBlock h5 {
        line-height: 120%;
        font-size: 1em;
    }
    .skillbar-title span {
        padding: 3px 5px;
    }
    .skillbar,
    .skillbar-bar {
        height: 20px;
    }
    .skillbar-title span {
        height: 20px;
        padding-right: 10px;
        line-height: 15px;
        font-size: 0.9em;
        font-weight: 500;
    }
    .SpaceLeftXP {
        height: 200px;
        padding: 3% 5% 3% 7%;
    }
    .Space span.iconeCV {
        font-size: 1.5em;
    }
    h4.cv {
        font-size: 1.2em;
    }
    .timeline ul {
        background-color: #282224;
    }
    .headlines-timeline {
        font-size: 1em;
    }
    .time {
        font-size: 0.8em;
    }
    .content p {
        font-size: 0.8em;
    }
}


/*MEDIA QUERIES > 426px & < 640px  
------------------------------------------------*/

@media (min-width: 426px) and (max-width: 640px) {
    header {
        max-height: 640px;
    }
    .intro-header {
        margin-top: 200px;
        border: none;
    }
    .cd-headline {
        font-size: 2.5rem;
    }
    .myName {
        font-size: 2.5em;
    }
    .TypoTitle {
        font-size: 1.5em;
        font-weight: bold;
    }
    .AboutRight {
        height: 600px;
    }
    .SpaceLight {
        height: 100px;
    }
    #Portfolio-Contact h3 {
        font-size: 2em;
    }
    .AboutText {
        font-size: 1em;
        text-align: justify;
    }
    .Skills {
        background: url('img/carnet.jpg') no-repeat center fixed;
        background-size: cover;
        display: block;
        left: 0;
        right: 0;
        height: 1080px;
        position: absolute;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        z-index: 1;
        padding: 0;
        opacity: 0.8;
    }
    .level {
        margin: 5% 3% -2% 3%;
        font-size: 0.9em;
    }
    .devskills {
        margin-top: 15%;
    }
    .OtherSkills {
        margin-top: 1%;
        margin-left: -8%;
    }
    .OtherBlock {
        height: 450px;
    }
    .OtherBlock h5 {
        line-height: 130%;
        font-size: 1em;
    }
    .SkillBlock {
        height: 500px;
        width: 95%;
        margin-left: 2%;
    }
    .SkillBlock h5 {
        line-height: 150%;
        font-size: 1em;
    }
    .skillbar,
    .skillbar-bar {
        height: 20px;
    }
    .skillbar-title {
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
    }
    .skillbar-title span {
        padding: 1px 2px;
        font-size: 0.8em;
        font-weight: 300;
    }
    .Skills ul li {
        font-size: 0.9em;
        margin: 0 3%;
    }
    .SpaceLeftXP {
        height: 200px;
    }
    .Space span.iconeCV {
        font-size: 1.5em;
    }
    h4.cv {
        font-size: 1.2em;
    }
    .SpaceLight {
        height: 100px;
        background-color: #282224;
    }
    .SpaceRight h3.AboutTitle,
    .SpaceRight h3.SkillsTitle {
        text-align: center;
        margin-left: 0;
    }
    #Portfolio-Contact h3,
    #Portfolio-Project h3,
    #Portfolio-About h3,
    #Portfolio-Skills h3 {
        font-size: 2em;
        padding-top: 8%;
        margin-top: 0;
    }
    .timeline ul li {
        margin-left: 25px;
        width: 4px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -8px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #fff transparent transparent;
    }
    .headlines-timeline {
        font-size: 1rem;
    }
    .time {
        font-size: 1rem;
    }
    .timeline ul li p {
        line-height: 120%;
        font-size: 0.9em;
    }
}


/*MEDIA QUERIES SCREEN < 425px 
------------------------------------------------*/

@media screen and (max-width: 425px) {
    header {
        max-height: 600px;
    }
    .intro-header {
        margin-top: 200px;
        border: none;
    }
    .myName {
        font-size: 2.1em;
    }
    .TypoTitle {
        font-size: 1.3em;
        font-weight: bold;
    }
    .AboutRight {
        height: 780px;
    }
    .SpaceLight {
        height: 100px;
    }
    #Portfolio-Contact h3 {
        font-size: 2em;
    }
    .AboutText {
        font-size: 1em;
        text-align: justify;
    }
    .SKills {
        height: 1000px;
    }
    .level {
        margin: 5% 0 -2% 0;
        font-size: 0.8em;
    }
    .devskills {
        margin-top: 15%;
    }
    .OtherSkills {
        margin-top: 1%;
        margin-left: -8%;
    }
    .OtherBlock h5 {
        line-height: 130%;
        font-size: 1em;
    }
    .SkillBlock {
        height: 500px;
        width: 95%;
        margin-left: 2%;
    }
    .SkillBlock h5 {
        line-height: 120%;
        font-size: 0.9em;
    }
    .skillbar,
    .skillbar-bar {
        height: 20px;
    }
    .skillbar-title {
        font-size: 0.7em;
        font-weight: 300;
        text-transform: lowercase;
    }
    .skillbar-title span {
        padding: 1px 2px;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .Skills ul li {
        font-size: 0.9em;
        margin: 0 3%;
    }
    .timeline ul li {
        margin-left: 25px;
        width: 4px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -8px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #fff transparent transparent;
    }
    .headlines-timeline {
        font-size: 1rem;
    }
    .time {
        font-size: 1rem;
    }
    .timeline ul li p {
        line-height: 120%;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 378px) {



	.myName {
        font-size: 1.8em;
    }

    .devJunior {
    	font-weight: bold;
    	line-height: 150%;
    	font-size: 1.2em;
	}

	.AboutRight {
    	height: 700px;
	}

	.AboutText {
		line-height: 150%;
	}

	.OtherBlock {
		margin-left: 8%;	
	}

    .Skills {
        background: url('img/carnet.jpg') no-repeat center fixed;
        background-size: cover;
        display: block;
        left: 0;
        right: 0;
        height: 1080px;
        position: absolute;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        z-index: 1;
        padding: 0;
        opacity: 0.8;
    }
    .Skills ul li {
        font-size: 0.7em;
        margin: 0 2.8%;
    }
    .SpaceLeftXP {
        height: 180px;
    }
    h4.cv {
        font-size: 1.2em;
    }
    .SpaceLight {
        height: 80px;
        background-color: #282224;
    }
    #Portfolio-Contact h3,
    #Portfolio-Project h3 {
        font-size: 2em;
        padding-top: 8%;
        text-align: center;
        margin-left: 0;
    }

    .SpaceRight h3.AboutTitle {
    	padding-top: 8%;
    	font-size: 2em;
    	margin-top: 0;
    	margin-left: 0;
    	text-align: center;
	}

	.SpaceRight h3.SkillsTitle {
    	padding-top: 8%;
    	font-size: 2em;
		text-align: center;
    	margin-left: 0;
}

	.FormContact {
    height: 500px;
	}

	#contactForm {
		margin-left: 5%;
		margin-top: 0;
	}

    label {
        font-size: 1em;
    }
}